@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --text-light: #fff;

    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    .card__title{
        color: var(--secondary);
        font-size: 2em;
        font-weight: bold;
    }
    .card__description{
        color: var(--text);
        font-size: 0.75em;
        font-weight: normal;
    }
    .highlight{
        font-weight: bold;
    }
    .highlight__green{
        color: var(--primary);
    }
    .card__price1{
        font-size: 0.75em1;
    }
    .highlight__large{
        font-size: 1.5em;
    }
    .card__price2{
        font-size: 0.65em;
    }
    .card__button{
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: var(--primary);
        display: block;
        padding: 0.3em;
        border-radius: 0.5em;
        text-decoration: none;
    }
    .card__button__text{
        text-align: center;
        color: var(--text-light);
        font-size: 0.75em;
        font-weight: bolder;
        text-decoration: none;

    }
    .card__list{
        margin-top: 2em;
    }
    .custom-list{
        margin-top: 1em;
        font-size: 0.85em;
        

    }
    .custom-list__check{
        list-style-image: url(./images/check.svg);
        
    }
    

}